@charset "utf-8";
html{
	font-size:62.5%;
	margin:0;
}
* {
	margin:0;
	padding:0;
}
#container {
	overflow: hidden;
	width: 100%;
	max-width:640px;
	margin: 0 auto;
	background-color: #68cdd5;
}
#back img {
	margin:2em;
	width:8%;
	height:auto;
}
#logo{
	text-align: center;
}
#logo img {
	width:35%;
	margin:10%;
}
#content{
	width:72%;
	margin:0 auto;
	font-size:3rem;
	line-height:5rem;
}
#footer{
	overflow:hidden;
	width:100%;
	margin:25% 0;
}
.icon-footer{
	float:left;
	width:50%;
	text-align: center;
}
.icon-footer img {
	width:28%;
}
.icon-footer p {
	text-align: center;
	font-size:2.4rem;
	line-height: 5rem;
}
p {
	color: white;
	font-family: "微软雅黑", SimSun, sans-serif;
	display: block;
}
img {
	max-width:100%;
}
@media screen and (max-width: 480px) {
	html {
		font-size: 52.5%;
	}
}